node_modules/
**/node_modules/

playwright-report/
**/playwright-report/

test-results/
**/test-results/

cypress/reports/
**/cypress/reports/

cypress/screenshots/
**/cypress/screenshots/

cypress/videos/
**/cypress/videos/

reports/
**/reports/

coverage/
**/coverage/

package-lock.json